<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="nav">
    <div class="left-logo">
        <a><img src="https://img.kaikeba.com/logo-new.png"></a>
    </div>
    <div class="right-view">
        <a class="menu-item" href="/vip-course">·VIP+</a>
        {{#each courses}}
            <a href="{{url}}">{{name}}</a>
        {{/each}}
        <a class="menu-item" href="/open-courses">公开课</a>
        <a class="menu-item" href="/student">学习中心</a>
    </div>
</div>
    {{{body}}}
  </body>
</html>
