<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    {{{block 'styles'}}}
</head>
<body>
<!--导航栏-->
{{!-- {{> nav}} --}}

{{> (whichPartial navName)}}

{{#> ooxx}}
    出现错误时，您会看到这句话
{{/ooxx}}

<!--{{#> win}}-->
    <!--<div>这是窗口里面的内容。。。。。。。。。。。。。</div>-->
<!--{{/win}}-->

{{#> layout}}
    {{#*inline 'top'}}
        这是top
    {{/inline}}
    {{#*inline 'foo'}}
        这是foo
    {{/inline}}
    {{#*inline 'bar'}}
        这是bar
    {{/inline}}
{{/layout}}

{{{body}}}

<script src="/javascripts/jquery.js"></script>
{{{block 'jquery'}}}

</body>
</html>
